/* SUB */

#Discussions span.subcategory-pictures {text-align:right;float:left;margin-right:30px;border:0px solid #000 ;width:150px;}
#Discussions dl.subCategory {color:#000;background-color:#FFF;margin-top:20px;margin-bottom:0px;min-height:70px;margin-top:10px;margin-bottom:30px;}
#Discussions dl.subCategory dd.category-infos{font-weight:bold; font-size:1.5em;background-color:#FFF; padding:1px;padding-top:25px; }
#Discussions dl.subCategory dd.category-infos{font-weight:bold; font-size:2em;background-color:#FFF; padding:1px;padding-top:0px; margin-bottom:10px;}
#Discussions dl.subCategory dt.category-legend {font-size:1.2em; background-color:#FFF;margin-bottom:10px; padding:1px;height:30px;width:85%;}
#Discussions span.category-pictures {text-align:right;float:left;margin-right:30px;border:3px solid #000 ;width:60px;height:80px;}
#Discussions dl.subCategory dd.category-blue {color:#000!important; }
#Discussions span.category-read {margin-left:20px;background-color:yellow;font-size:0.7em!important;padding:2px;}
#Discussions span.category-stop {margin-left:20px;background-color:#EEE;font-size:0.7em!important;padding:2px;}
#Discussions span.category-name {width:300px;}

#Discussions span.category-numbers {margin-left:20px;background-color:yellow;}

#Discussions dl.Category dt.category-legend a {color:#666666}
#Discussions dl.Category dt.category-legend a:hover {color:#000}

/* CATEGORY */

#Discussions dl.Category {color:#000;background-color:#FFF;margin-top:20px;}
#Discussions dl.Category dd.category-infos{font-weight:bold; font-size:1.5em;background-color:#FFF; padding:1px;padding-top:25px; }
#Discussions dl.Category {color:#000;background-color:#FFF;margin-top:20px;}
#Discussions dl.Category dd.category-infos{font-weight:bold; font-size:2em;background-color:#FFF; padding:1px;padding-top:0px; margin-bottom:10px;}
#Discussions dl.Category dt.category-legend {font-size:1.2em; background-color:#FFF;margin-bottom:10px; padding:1px;height:30px;width:80%;}
#Discussions span.category-pictures {text-align:right;float:left;margin-right:20px;border:3px solid #000 ;width:100px;height:100px;}
#Discussions dl.Category dd.category-blue {color:#000!important; }
#Discussions span.category-read {margin-left:20px;background-color:yellow;font-size:0.7em!important;padding:2px;}
#Discussions span.category-stop {margin-left:20px;background-color:#EEE;font-size:0.7em!important;padding:2px;font-weight:normal;}
#Discussions span.category-name {width:300px;margin-left:5px!important;}
#Discussions span.sub-cat {color:#000;background-color:yellow;font-size:0.6em!important;padding:2px;margin-right:5px;margin-top:4px;margin-left:-2px;margin-top:-120px;text-transform:uppercase;margin-top:-15px;margin-left:3px;}
#Discussions .category-label-url {color:#000;background-color:#ccc;font-weight:normal;padding:2px;margin-right:5px;margin-top:4px;margin-left:-2px;margin-top:-120px;text-transform:uppercase;margin-top:-15px;margin-left:3px;}
#Discussions span.category-label-read {color:#000;background-color:yellow;font-weight:normal;padding:2px;margin-right:5px;margin-top:4px;margin-left:-2px;margin-top:-120px;text-transform:uppercase;margin-top:-15px;margin-left:3px;font-size:1em;}

#Discussions span.category-numbers {margin-left:20px;background-color:yellow;}

.titre-label-descriptif {font-size:em;margin-top:20px;margin-bottom:10px;}
.top-title-category-label {background-color:#FFF;color:#000;font-size:2.0em;font-weight:bold;margin-top:0px;}
.top-title-category-label-legend {background-color:#FFF;color:#666666;font-size:1.5em;font-weight:normal;}