.buildpath
.externalToolBuilders/
.project
.settings/
*.pyc
data/sql/vanilla.styles.sql
forum/themes/foot.php
forum/themes/menu.php
forum/radio/js/Flower_v1.0/uncompressed/soundplayer/flower_soundplayer.js
