# composer
/vendor/*

# dist
/data/sql/vanilla.styles.sql
/src/web/forum/themes/foot.php
/src/web/forum/themes/menu.php
/src/web/forum/conf/settings.php
/src/web/forum/radio/js/Flower_v1.0/uncompressed/soundplayer/flower_soundplayer.js
/src/web/forum/extensions/PageMng/CustomPages.php
/src/web/forum/extensions/MiExpandContents/js/inlineplayer.js
/src/web/forum/extensions/MiJQuery/js/configuration.js
/src/web/forum/extensions/MiExpandContents/js/inlineplayer.js
/src/web/forum/extensions/MiJQuery/js/configuration.js
/src/web/forum/extensions/vanilla-releases/js/soundmanager2/script/inlineplayer.js
/src/web/forum/extensions/Vanillacons/smilies.js
/src/web/forum/extensions/Vanillacons/smilies.php
/src/web/index.php

# editors
*~
*.bak
*.orig

# symfony
/src/symfony/cache/*
/src/symfony/log/*

# vagrant
/.vagrant

# vanilla
/src/web/forum/extensions/Statistics/options.inc
/src/web/vanilla-1.3.0/conf/settings.php
