# dist
data/sql/vanilla.styles.sql
forum/themes/foot.php
forum/themes/menu.php
forum/radio/js/Flower_v1.0/uncompressed/soundplayer/flower_soundplayer.js
forum/extensions/PageMng/CustomPages.php
etc/*.ini
forum/extensions/MiExpandContents/js/inlineplayer.js
forum/extensions/MiJQuery/js/configuration.js
forum/extensions/MiExpandContents/js/inlineplayer.js
forum/extensions/MiJQuery/js/configuration.js
forum/extensions/vanilla-releases/js/soundmanager2/script/inlineplayer.js
forum/extensions/Vanillacons/smilies.js
forum/extensions/Vanillacons/smilies.php

# editors
*~
*.bak
*.orig
