#ForcedBBBar {
width:570px;
}

#ForcedBBBar select {
border:1px outset #fff;
padding:2px;
background-color:#eeeeee;
margin-left:2px;	
}

#ForcedBBBar img {
border:1px solid #ccc;
padding:1px;
background-color:yellow;
margin-left:2px;	
}

#ForcedBBBar a:hover img {
border:1px solid #ccc;
background-color:#FF00FF;
}	


#ForcedBBBarColorPicker {
margin-left:200px;
margin-top:0px;
width:190px;
height:120px;
position:absolute;
}

#ForcedBBBarFontPicker {
margin-left:220px;
margin-top:0px;
position:absolute;
background-color:#fef9e9;
padding:1px;
border:1px solid #000000;
width:150px;
}

a.ForcedBBBarFontList {
cursor:pointer;
height:16px;
margin-bottom:2px;
font-size:12px;
text-align:left;
display:block;
text-decoration:none;
padding-left:10px;
}
a.ForcedBBBarFontList:hover {
color:#000000;
background-color:#FFF4CF;
}

#ForcedBBBarSmilies {
margin-left:150px;
margin-top:0px;
position:absolute;
padding:1px;
height:20px;
overflow:auto;
}
