.embed-player 
{
background-color:#FFF;
border:1px solid #ccc; 
padding-top:8px;
padding-bottom:2px;
padding-left:8px;
padding-right:8px;
width:450px;
}

.embed-player h3 
{
text-align:center;
float:right;
background-color:#eee; 
border:1px solid #ccc; 
margin-top:-1px;
width:100%;
padding:3x; 
text-transform:uppercase;
}

.embed-player a
{
	font-family: 'Copse', arial, serif;
	font-size:1.2em;
}

a.expansible {display:inline-block;padding-right:20px;line-height:18px;background:transparent url(../img/ajax-loader.gif) center right no-repeat;color: #333;}

/* Page player */
/* -- Inline links*/
a.playable, a.playing {display:inline-block;line-height:18px;border-radius:4px;font-weight:bold;padding:0.5em;padding-left:1.5em;}
a.playable {background:transparent url(../img/control_play.png) center left no-repeat;background-color:#09F;}
a.playable:hover {background-color:yellow;opacity:0.8;}
a.playing {background:transparent url(../img/control_pause.png) center left no-repeat;background-color:yellow;}
a.unavailable {background-color:red;}

/* -- Footer player */
#jp_interface_page {position:fixed;left:0px;bottom:0px;width:100%;height:50px;background:#000;color:#fff;font-size:2em;}
#jp_interface_page span.jp-controls span {width:30px;height:30px;border:solid 1px #fff;cursor:pointer;}
#jp_interface_page div.jp-progress {height:20px;}
#jp_interface_page div.jp-seek-bar {background-color:lime;width:0px;height:100%;cursor:pointer;}
#jp_interface_page div.jp-play-bar {background-color:#ccc;width:0px;height:100%;}
#jp_interface_page .jp-timer {float:right;}

/* -- Playlist */
#jp_playlist_page {position:fixed;left:0px;bottom:50px;width:100%;height:200px;background:#000;color:#fff;font-size:2em;}
#jp_playlist_page li {list-style-type:none;}
#jp_playlist_page a {color:#fff;}
#jp_playlist_page a:hover {color:#000;}
#jp_playlist_page .jp-playlist-current {background-color:yellow;color:#000;}