#ContentBody.zeitgeist h2 {font-size: 2em;}
#ContentBody.zeitgeist h2.period {font-size: 1.5em;}
#ContentBody.zeitgeist h2.pagination {font-size: 1.5em;}
#ContentBody.zeitgeist h3 {color: magenta; font-size: 1.8em; margin-top:1em; margin-bottom:1em;}
#ContentBody.zeitgeist li ul {background-color: #fff;}
#ContentBody.zeitgeist li.Release ul li.DiscussionTopic {background-color:#fff;}
#ContentBody.zeitgeist p {font-size:1.5em;}
