/* Page player */
/* -- Inline links*/
a.playable {display:inline-block;line-height:18px;border-radius:4px;font-weight:bold;padding:0.5em;padding-left:1.5em;background:transparent url(../img/control_play.png) center left no-repeat;background-color:#09F;}
a.playable:hover {background-color:yellow;opacity:0.8;}
a.playable.current {background-color:yellow;}
a.playable.playing {background:transparent url(../img/control_pause.png) center left no-repeat;background-color:yellow;}
a.playable.paused {background-color:#ccc;}
a.playable.unavailable {background-color:red;}

/* -- Footer player */
#jp_interface_page {position:fixed;left:0px;bottom:0px;width:100%;background-color:#fff;color:#000;font-size:2em;opacity:0.8;border-top:solid 1px black;border-right:solid 1px black;}
#jp_interface_page:hover {opacity:1;}
#jp_interface_page div.inner {padding:1em;}
#jp_interface_page span.jp-controls span {cursor:pointer;padding-right:0.3em;}
#jp_interface_page span.jp-track-info {margin-left:5em;font-weight:bold;font-size:2em;}
#jp_interface_page div.jp-progress {height:20px;}
#jp_interface_page div.jp-seek-bar {background-color:#ccc;width:0px;height:100%;cursor:pointer;}
#jp_interface_page div.jp-play-bar {background-color:#000;width:0px;height:100%;}
#jp_interface_page .jp-timer, #jp_interface_page .jp-ui-controls {font-size:1.5em;}
#jp_interface_page .separator {margin-left:2em;}
#jp_interface_page.collapsed .separator {margin-left:1em;}

/* -- UI controls */
#jp_interface_page .jp-ui-controls span {cursor:pointer;font-size:1.5em;}

/* -- Playlist */
#jp_playlist_page {font-size:1em;border-top:solid 1px black;}
#jp_playlist_page li {list-style-type:none;}
#jp_playlist_page li.unavailable a {font-style:italic;color:#bbb;}
#jp_playlist_page a {color:#000;}
#jp_playlist_page .jp-playlist-current, #jp_playlist_page li:hover, #jp_playlist_page a:hover {background-color:#ccc;}