/* DESIGN LOGO MUSIQUES INCONGRUES*/

.logo 
{
margin:0 auto;
text-align:center;
margin-top:40px!important;

}


h1 {
text-align:left;
font-size:4em;
color:#FF00FF;
font-family: 'Just Another Hand', arial, serif;
font-weight:bold;
letter-spacing:2px;
text-transform:uppercase;
}

h1.logo a, h1.logo a:active, h1.logo a:link
{
color:#FF00FF;
text-decoration:none;

}

#content {
width:80%!important;
float:left;
margin-left:20px;	}


#Header {
	background: #fefefe;
	padding-bottom:5px;
	border-bottom: 1px dotted #ccc;
	}
	
#Header * {
	margin:0px;
	padding:0px;
	}

#Header h1, #Header h1 a {
	text-align:center;
	color:#FF00FF;
	font-size: 2em;
	font-weight: bold;
	font-family:'Arial',sans-serif;
	text-transform: uppercase;
	padding:15px;
	}
#Header h1 a, #Header h1 a:active, #Header h1 a:link {color:#FF00FF;}	
#Header h1 a:hover {color:#FF00FF; background-color:transparent;}

#Header h2 {
	font-family: 'Copse', arial, serif;
	color: #ccc;
	font-weight:normal;
	margin-top: -40px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 1.4em;
}

#Header ul {
	text-align:center;
	font-weight:bold;
	}
#Header ul li {
	display:inline;
	margin:0px 1px;
	}

#Header ul li a {
	padding:5px;
	font-size:0.6em;
	font-weight:normal;
	}

#Header ul li.TabOn {
	background-color:#fff;
	color: #ff00ff;
	}

#Header ul li.TabOn a {
	background-color:#fff;
	color:#ff00ff;
	border: 1px solid #ccc;
	border-bottom: 1px solid #fff;
}

#Header ul li.dons .TabOn {
	background-color:yellow!;
	color: #ff00ff;
	}

#Header ul li.dons.TabOn a {
	background-color:yellow;
	color:#ff00ff;
	border: 1px solid #ccc;
	border-bottom: 1px solid #fff;
}

#Header ul li.dons .TabOn a:hover, #Header ul li.dons .TabOn a:hover  {
	color:#000;
	border: 1px solid #ccc;
	border-bottom: 1px solid #fff;
	}
	
	
#Header ul li.Eyes .TabOn {
	background-color:#fff;
	color: #ff00ff;
	}

#Header ul li.Eyes .TabOn a {
	background-color:#fff;
	color:#ff00ff;
	border: 1px solid #ccc;
	border-bottom: 1px solid #fff;
}

#Header ul li.Eyes .TabOn a:hover, #Header ul li.Eyes .TabOn a:hover  {
	background-color:yellow;
	color:#000;
	border: 1px solid #ccc;
	border-bottom: 1px solid #fff;
	}
	
#Header ul li.TabOn a:hover, #Header ul li.TabOn a:hover  {
	background-color:yellow;
	color:#000;
	border: 1px solid #ccc;
	border-bottom: 1px solid #fff;
	}
	
#Header ul {
text-align:center;
font-weight:bold;
margin-top:-20px;
	}
	
#navbar-1 
{
margin-bottom:20px;
}
#navbar-1 a, #navbar-1 a:active, #navbar-1 a:link
{
	color: #BBB;
	font-family: 'Copse', arial, serif;
	margin-top:30px;
	font-size:0.8em;
	text-decoration:none;
}

#navbar-1 a:hover, #navbar-2 a:hover {color:#000!important;}
#navbar-2 a, #navbar-2 a:active, #navbar-2 a:link
{
	color: #0099FF;
	font-family: 'Copse', arial, serif;
	text-decoration:none;
	font-size:1em;
}

	

#Header ul li.PosTab {float:left;}

.PosTab  {
	background-color:yellow;
	color: #0000;
	width:170px;

	}

.PosTab a {
	background-color:yellow;
	color:#000;
	border: 1px solid #ccc;
	border-bottom: 1px solid #ccc;


}

.PosTab a:hover {
	background-color:#ff00ff;
	color:#FFF;
	border-bottom: 1px solid #ccc;
	}



/* SEARCHBAR */

#search, #search.notitle 
{

float:right;
font-family:"Trebushet MS",Verdana,Geneva,Arial,Helvetica,sans-serif;
font-size: 90%;
margin-left:-230px;
background-color:transparent;
}
#search {
}
#search.notitle {
	margin-top:48px;
}
#search  label
{
color: #AAA;
font-size: 1.3em;
}

input.champs
{
color: #000;
border:1px dotted #CCC;
border-style:solid;
text-align:center;
width:120px;
}

input.champs, #footer input.valid {background-color: #EEE;}

input.champs:hover
{
color: #FF0099;
background-color:#fff;
text-align:center;
border:1px solid #CCC;
}

input.champs:focus,#footer input.valid:hover 
{
background-image: none ;background-color: #FFF;
}

input.valid 
{
background-color:#FFF;
border:0px solid #CCC;
color:#000;
font-weight:normal;
text-align:center;
text-transform:uppercase;
	font-family: 'Copse', arial, serif;
	letter-spacing:1px;

}


/* Session.. */

#Session {
	width:100%;
	float:right;
	margin-right:10px;
	margin-top:-40px;
	text-align:right;
	font-size:0.8em;
	color:#ccc;
	background-color:transparent;
	
	}
#Session a {
	color:#222;
	text-decoration:none;
	}
#Session a:hover {
	color:#ff00ff;
	}


/* Panel.. */

#Panel {
	width:201px;
	min-height: 1000px;
	margin-left:18px;
	float:left;
	display:inline;
	border-right:1px dotted #DDD;
margin-top:10px;	}
#Panel * {
	margin:0px;
	padding:0px;
	list-style:none;
	}



#Panel h2 {

color:#FF0099;
text-align:center;
padding-right:10px;
padding-top:10px;
padding-bottom:-100px;

margin-right:30px;
margin-bottom:15px;
padding-left:20px;
font-size:1.7em;
font-family: 'Vibur', arial, serif;
	border-bottom:1px solid yellow;

}


#Panel a, #Panel a:active, #Panel a:link
{
font-family: 'Copse', arial, serif;
color:#BBB;
font-size:1em;
text-decoration:none;
}

#Panel li
{
border-bottom:1px dotted #DDD;
margin-bottom:10px;
margin-right:30px;
padding-left:5px!important;
padding:3px;
color:#bbb;
text-transform:lowercase;
font-size:1em;
}

.logo
{
text-align:center;
margin:0 auto;
margin-bottom:50px;

}

.logo H1
{
text-align:left;
font-size:3em;
color:#FF00FF;
font-family: 'Just Another Hand', arial, serif;
font-weight:bold;
margin-bottom:-25px;
margin-top:30px;
letter-spacing:2px;
}

.logo H1 .beta
{
color:#DDD;
font-size:0.4em;
margin-top:100px!important;
}

#footer
{
		position: absolute;
		bottom: 0;
		padding: 10px;
		font-size:0.8em;
		font-family: 'Vibur', arial, serif;
		color:#0099FF;
		text-transform:uppercase;
}

#footer p 
{
margin-bottom:-10px;
}
/* INFO SELECTION PLAYLIST */

h2.radio-counter 
{
color:#666!important;
font-weight:normal;
border-bottom:0px!important;
font-family: 'Vibur', arial, serif;
margin-top:-50px;
text-align:left;
margin-left:80px;


}
h2.label
{
font-size:0.9em!important;
color:#BBB!important;
margin-top:-30px!important;
margin-left:40px;
text-align:left;
text-transform:uppercase;
	font-family: 'Copse', arial, serif;
font-weight:normal;
border-bottom:0px!important;

}
.radio-listen
{
color:#0099FF;
font-weight:bold;
padding:2px;
margin-right:20px;
font-size:1.2em;
font-family: 'Vibur', arial, serif;
}

.radio-listen-show
{
color:#FF0099;
font-weight:bold;
padding:2px;
margin-right:20px;
margin-top:-15px;
font-size:1.2em;
font-family: 'Vibur', arial, serif;
}

.radio-show-soon
{
color:#000;
font-size:1em;
font-family: 'Vibur', arial, serif;
font-weight:bold;
padding:2px;
margin-right:20px;
}
.radio-random, .radio-news
{
color:#BBB;
font-family: 'Vibur', arial, serif;
font-size:1.1em;
}

.radio-show
{
font-family: 'Vibur', arial, serif;
color:#BBB;
font-size:1.1em;
}

a.playlist-ico,  a:link .playlist-ico a:link, a:active .playlist-ico
{
color:#FF0099!important;
font-size:1.1em!important;
}


/* INFO DESIGN PLAYLIST */

/*
.ico 
{
font-weight:bold;
font-size:1.6em;
}
*/


.flower_soundplaylist
{
list-style-type:none!important;
border-bottom:1px dotted #eee!important;
padding:0px!important;
font-family: 'Copse', arial, serif!important;
margin-left:0px!important;
font-weight:lighter!important;
color:#CCC!important;
}

.tracks-title.playing
{
background-color:#DDD!important;
color:#000!important;
}

.tracks-title
{
padding:2px;
color:#0099FF;
font-size:1em;
margin-right:10px;
text-transform:lowercase;
font-family: 'Copse', arial, serif!important;

}

.tracks-donwload
{
padding:2px;
font-weight:bold;
color:#CCC;
margin-right:10px;
text-transform:lowercase;

}

.tracks-who
{
padding:2px;
color:#9d9a9a;
margin-right:10px;
text-transform:lowercase;
margin-top:-15px!important;
margin-bottom:7px!important;


}

.tracks-topic
{
padding:2px;
color:#CCC;
text-transform:lowercase;

}

.tracks-date 
{
float:right;
margin-top:-35px;
color:#CCC;
}
.tracks-who a,.tracks-who a:link,.tracks-who a:active,
.tracks-topic a,.tracks-topic a:link,.tracks-topic a:active,
.space a, .space a:link, .space a:hover
{color:#666;
font-size:1em;
text-transform:lowercase;

}

.tracks-donwload a,.tracks-donwload a:link,.tracks-donwload a:active
{color:#FF0099!important;
font-weight:lighter!important;
font-size:0.8em;
text-transform:lowercase;

}
.radio-playing
{
color:#666; 
 font-family: 'Vibur', arial, serif;
text-transform:uppercase;
}
.radio-playing .flower_soundplayer_time
{color:#BBB;}

 div.flower_soundplayer_title
 {
color:#000; 

 font-family: 'Vibur', arial, serif;
text-transform:uppercase;}


.flower_soundplayer_title a, .flower_soundplayer_title a:link, .flower_soundplayer_title a:active, 
.flower_soundplaylist a, .flower_soundplaylist a:link, .flower_soundplaylist a:active
{
color:CCC!important;
text-decoration:none;
	font-family: 'Copse', arial, serif!important;
font-weight:lighter!important;
}
 
 .flower_soundplayer_title a:hover, .flower_soundplaylist a:hover 
{
color:#000!important;
font-weight:lighter!important;

}


 div.flower_soundplayer_controls       
 {
text-align:right!important;
margin-top:-40px!important;
margin-bottom:-10px!important;
}
 div.flower_soundplayer_controls a,  div.flower_soundplayer_controls a:link,  div.flower_soundplayer_controls a:active
 {
 font-size:1em;
 color:#666;
 font-family: 'Vibur', arial, serif;
 text-decoration:none;

 }      

 div.flower_soundplayer_seekbarcontainer
 {
 background-color:yellow!important;
 height:20px!important;
 border:1px dotted #BBB;
 }
 
 div.flower_soundplayer_seekbar
 {
 background-color:#000!important;
 }
 
 .flower_soundplayer_positionmarker
 {
 background-color:#BBB!important;
 height:20px!important;
 width:10px!important;
 }
 #flower_soundplayer
 {
margin-top:50px!important; width:100%;
 }