.DiscussionOverview {
	margin-top: 6px;
	}
.DiscussionOverview #Categories {
	margin: 0;
	padding: 0;
	}
.DiscussionOverview .Category ul {
	margin: 0;
	padding: 10px;
	list-style: none;
	position: relative;
	background-color: #f5f9ff;
	}
.DiscussionOverview .CategoryDiscussionCount {
	position: absolute;
	top: 10px;
	right: 160px;
	}
.DiscussionOverview .CategoryOptions {
	position: absolute;
	top: 10px;
	right: 10px;
	}

.DiscussionOverview .DiscussionType * {
	clear: both;
	}
.DiscussionOverview #Discussions {
	margin-top: 0px !important;
	margin-bottom: 20px;
	}
.DiscussionOverview .DiscussionTopic {
	display: inline;
	}

.DiscussionOverview .ShowAllLink a {
	display: block;
	padding: 0px 5px;
	margin-bottom: 20px;
	font-size: 14px;
	font-weight: bold;
	color: #ccc;
	text-decoration: none;
	}

#ExtensionPage .ContentInfo h1 {
	float: none;
	text-align: left;
	}