/*
 * This file is part of Musiques Incongrues.
 *
 * Musiques Incongrues is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Musiques Incongrues is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Musiques Incongrues.  If not, see <http://www.gnu.org/licenses/>.
 */
 
.logo 
{
margin:0 auto;
}



h1 {
font-size:3.7em;
color:#0099FF;
font-family: 'Copse', arial, serif;
font-weight:normal;
letter-spacing:0px;
text-transform:lowercase;
}

h1.logo a, h1.logo a:active, h1.logo a:link
{
color:#0099FF;
text-decoration:none;

}





