/***************************
 * MUSIQUES INCONGRUES V2  *
 ***************************/



body {
	width: 100%;
	margin:auto;
	padding:0px;
	}
	
body, div, table, td {
	font-family: 'Arial', sans-serif;
	font-size:10px;
	color:#666;
	background-color: #fff;
	}
	color: #000;
	text-decoration: none;
	cursor: pointer;
	}
	
a:hover {
	background-color: yellow;
	text-decoration: none;
	}
	
/* HEADER
 *****************************************************/

/* Session.. */

#Session {
	width:100%;
	float:right;
	margin-right:10px;
	text-align:right;
	font-size:11px;
	color:#ccc;
	background-color:transparent;
	}
#Session a {
	color:#222;
	text-decoration:none;
	}
#Session a:hover {
	color:#ff00ff;
	}

/* Header.. */

#Header {
	background: #fefefe;
	padding-bottom:5px;
	border-bottom: 1px solid #ccc;
	}
	
#Header * {
	margin:0px;
	padding:0px;
	}

#Header h1 {
	text-align:center;
	color:#FF00FF;
	font-size: 4em;
	font-weight: bold;
	font-family:'Arial',sans-serif;
	text-transform: uppercase;
	padding:15px;
	}
	
#Header ul {
	text-align:center;
	font-weight:bold;
	}
#Header ul li {
	display:inline;
	margin:0px 1px;
	}

#Header ul li a {
	padding:5px;
	font-size:11px;
	}

#Header ul li.TabOn {
	background-color:#fff;
	color: #ff00ff;
	}

#Header ul li.TabOn a {
	background-color:#fff;
	color:#ff00ff;
	border: 1px solid #ccc;
	border-bottom: 1px solid #fff;
}

#Header ul li.dons .TabOn {
	background-color:yellow!;
	color: #ff00ff;
	}

#Header ul li.dons.TabOn a {
	background-color:yellow;
	color:#ff00ff;
	border: 1px solid #ccc;
	border-bottom: 1px solid #fff;
}

#Header ul li.dons .TabOn a:hover, #Header ul li.dons .TabOn a:hover  {
	color:#000;
	border: 1px solid #ccc;
	border-bottom: 1px solid #fff;
	}
	
	
#Header ul li.Eyes .TabOn {
	background-color:#fff;
	color: #ff00ff;
	}

#Header ul li.Eyes .TabOn a {
	background-color:#fff;
	color:#ff00ff;
	border: 1px solid #ccc;
	border-bottom: 1px solid #fff;
}

#Header ul li.Eyes .TabOn a:hover, #Header ul li.Eyes .TabOn a:hover  {
	background-color:yellow;
	color:#000;
	border: 1px solid #ccc;
	border-bottom: 1px solid #fff;
	}
	
#Header ul li.TabOn a:hover, #Header ul li.TabOn a:hover  {
	background-color:yellow;
	color:#000;
	border: 1px solid #ccc;
	border-bottom: 1px solid #fff;
	}
	
#Header ul {
text-align:center;
font-weight:bold;
	}
 
	
.Pink {
	background-color:#FFE0FF;
	color:#000;
	border: 1px solid #ccc;
	}
	
.Pink a {
	background-color:#FFE0FF;
	color:#000;
	border: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}	

.Pink a:hover {
	background-color:yellow;
	color: #000;
	border: 1px solid #ccc;
	}	


.dons {
	background-color:yellow;
	color: #000;

	}
	
.dons a {
	background-color:yellow;
	color:#000;
	border: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.dons a:hover {
	background-color:#CCC;
	color:#000;
	border: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	}
	
	.Eyes {
	background-color:#E1FFFF;
	color: #ff00ff;

	}
	
.Eyes a {
	background-color:#E1FFFF;
	color:#000;
	border: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.Eyes a:hover {
	background-color:yellow;
	color:#000;
	border: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	}
	
.Faq {
background-color:#f2f2f2; 
	color: #000;

	}
	
.Faq a {
background-color:#f2f2f2; 
	color:#000;
	border: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.Faq a:hover {
	background-color:yellow;
	color:000;
	border: 1px solid #FFF;
	border-bottom: 1px solid #ccc;
	}

#Header ul li.PosTab {float:left;}

.PosTab  {
	background-color:yellow;
	color: #0000;
	width:170px;

	}

.PosTab a {
	background-color:yellow;
	color:#000;
	border: 1px solid #ccc;
	border-bottom: 1px solid #ccc;


}

.PosTab a:hover {
	background-color:#ff00ff;
	color:#FFF;
	border-bottom: 1px solid #ccc;
	}
	
/* AFFICHAGE DES CATEGORIES
 ****************************************************/

#ContentBody span.subcategory-pictures {text-align:right;float:left;margin-right:30px;border:0px solid #000 ;width:150px;}
#ContentBody  dl.subCategory {color:#000;background-color:#FFF;margin-top:20px;margin-bottom:0px;min-height:70px;margin-top:10px;margin-bottom:30px;}
#ContentBody  dl.subCategory dd.category-infos{font-weight:bold; font-size:1.5em;background-color:#FFF; padding:1px;padding-top:25px; }
#ContentBody  dl.subCategory dd.category-infos{font-weight:bold; font-size:2em;background-color:#FFF; padding:1px;padding-top:0px; margin-bottom:10px;}
#ContentBody  dl.subCategory dt.category-legend {font-size:1.2em; background-color:#FFF;margin-bottom:10px; padding:1px;height:30px;width:80%;}
#ContentBody  span.category-pictures {text-align:right;float:left;margin-right:30px;border:3px solid #000 ;width:60px;height:80px;}
#ContentBody  dl.subCategory dd.category-blue {color:#000; }
#ContentBody  span.category-read {margin-left:20px;background-color:yellow;font-size:0.7em;padding:2px;}
#ContentBody  span.category-name {width:300px;}

#ContentBody  span.category-numbers {margin-left:20px;background-color:yellow;}

#ContentBody  dl.Category dt.category-legend a {color:#666666}
#ContentBody  dl.Category dt.category-legend a:hover {color:#000}

#ContentBody  dl.Category {color:#000;background-color:#FFF;margin-top:20px;min-height:90px;}
#ContentBody  dl.Category {color:#000;background-color:#FFF;margin-top:20px;}
#ContentBody  dl.Category dd.category-infos{font-weight:bold; font-size:2em;background-color:#FFF; padding:1px;padding-top:0px; margin-bottom:10px;}
#ContentBody  dl.Category dd.category-legend {font-size:1.2em; background-color:#FFF;margin-bottom:10px; padding:1px;height:30px;width:80%;}
#ContentBody  span.category-pictures {text-align:right;float:left;margin-right:20px;border:3px solid #000 ;width:100px;height:100px;}
#ContentBody  dl.Category dd.category-blue {color:#000; }
#ContentBody  span.category-read {margin-left:20px;background-color:yellow;font-size:0.7em;padding:2px;}
#ContentBody  span.category-stop {margin-left:20px;background-color:#EEE;font-size:0.7em;padding:2px;font-weight:normal;}
#ContentBody  dt.category-name {width:300px;margin-left:5px;}

#ContentBody  span.category-numbers {margin-left:20px;background-color:yellow;}

a.category-label-url,a:active.category-label-url,a:visited.category-label-url {background-color:yellow;text-decoration:none;font-weight:bold;padding:2px;color: #000;}

a.category-name {color:#000;text-decoration: none;}
a:hover.category-name{background-color:yellow;text-decoration: none;}
a.category-stop {margin-left:20px;background-color:#EEE;color:#000;font-weight:none;text-decoration: none;font-size:0.7em;padding:2px;min-height:20px}
a.sub-category {color:#000;background-color:#FFE0FF;font-size:0.6em;text-decoration: none;padding:2px;margin-right:5px;margin-top:4px;margin-left:-2px;margin-top:-120px;text-transform:uppercase;margin-top:-15px;margin-left:3px;}
a:hover.sub-category {background-color:yellow;}
.sub-category-min-height {min-height:20px;height:20px;}

.close-cat {background-color:yellow;border:1px solid #CCC;font-weight:bold;color: #000;padding:2px;font-size:3em;float:right;margin-right:10px;text-transforum:uppercase;}
/* DESIGN DES TITRES
 ***********************************/

h1 {
	float: left;
	text-align: left;
	width: 100%;
	padding-bottom:6px;
	}


/* PANEL 
 *********************************/


/* Panel.. */

#Panel {
	width:201px;
	margin-left:18px;
	float:left;
	display:inline;
	}
#Panel * {
	margin:0px;
	padding:0px;
	list-style:none;
	}
#Panel h1 {
	margin-top:15px;
	font-size:1em;
		}
	
#Panel h1 a {
	color:#000;
	background-color: yellow;
	border: 1px solid #CCCCCC;
	text-decoration: none;
	padding: 5px;
	font-size:12px;
	text-transform:uppercase;
	text-align:center;
	display:block;
	margin-bottom:10px;}
	
	
#Panel h1 a em {
	font-style: normal;
	text-decoration: none;
	color:#000;
	}
	
#Panel h1 a:hover {
	color:#000;
	background-color: #FF00FF;
	border: 1px solid #CCCCCC;

	}

#Panel h2:first-letter {color:font-size:16px;}
#Panel h2{

	color:#000;
	font-size:14px;
	text-transform:uppercase;
	font-weight:bold;
	background-color:#ffc4ff !important;
	margin-top:1em;
	margin-bottom:1em;
	padding-left:5px;
	letter-spacing: 2px;
	border:1px solid #CCC;
	text-align:center;
}

	}

#Panel ul ul, #Panel ul p, #Panel select {
	margin:0px 4px;
	}
#Panel ul, #Panel p {
	color:#335eb7;
	font-size:11px;
	}
#Panel ul ul {
	color:#ff00ff;
	font-size:10px;
	}
#Panel select {
	width:167px;
	margin-top:3px;
	}
#Panel ul ul li {
	width:173px;
	margin-bottom:3px;
	overflow: hidden;
	}
#Panel ul ul li a {
	font-size:11px;
	display:block;
	width:100%;
	color:#222;
	text-decoration:none;
	}
#Panel ul ul li a span {
	color: #ff00ff;
	font-size: 10px;
	padding-left: 4px;
	}
#Panel ul ul li a:hover {
	background-color:#FFFF00;
	}
	
#Panel ul.ailleurs-links li, #Panel ul.mix-links li {

color:#FF00FF;
background-color:#E1FFFF; 
margin-top:4px;
padding:2px; 
padding-left:3px;
list-style-type:none; 
border-left:4px solid #FF00FF;
text-transform:uppercase;
font-weight:bold;
font-size:12px;
width:190px;
}
#Panel ul.ailleurs-links a, #Panel ul.mix-links a {color:#000;text-decoration:none;}

#Panel ul.ailleurs-links li:hover, #Panel ul.mix-links li:hover {background-color:yellow;}

#AboutVanilla {
	margin: 20px 0px 20px 0px !important;
	border-top:1px solid #ccc;
	background-color:#f9f9f9;
	padding: 3px 0px 3px 0px;
	text-align:center;
	color:#bbb !important;
	width:200px;
	}
#AboutVanilla a {
	color:#d0d0d0 !important;
	text-decoration:none;
	}
#AboutVanilla a:hover {
	color:#aaa !important;
	text-decoration:none;
	}

/* ET SURTOUT + CE SOIR ON SORT 
 ***********************************/

body#dons .Notice, body#SearchPage .Notice
{
	margin-top:10px;

}

.Notice 
{
	background: url(http://www.musiques-incongrues.net/forum/themes/vanilla/styles/scene/notice.gif) left center no-repeat #E1FFFF;
	border: 1px solid #ccc;
	padding: 4px;
	padding-left:25px;
	font-size:12px;
	color:#000;
	margin-top:-5px;
	margin-bottom:15px;
}	


.alaune {
/*
	background:#FFE0FF;
	border:1px solid #FF00FF;
*/
	font-size:12px;
	margin-bottom: 20px;
	color: #000;
}

.title-surtout
{color:#000;
 font-size:4em;
}

H1.surtout  {
color:#000;
text-transform:uppercase;
font-size:1.2em;
font-weight:bold;
padding:1px;
padding-left:5px;
width:100%;
background-color:#FFF;
border-left:4px solid #CCC;
}

li.even {background-color:#FFE0FF ;font-weight:bold;margin-top:4px;border-left:4px solid #ff00FF;width:100%;}
li.odd {background-color:#E1FFFF ;font-weight:bold;margin-top:4px;border-left:4px solid #0099FF;width:100%;}


/* PLANET
 ****************************************/

div.post {
	float: left;
	width: 256px;
	height: 400px;
	margin-left: 10px; 
	position: relative;
	display: inline; /* JESUS FUCKING IE */
	text-align:justify;
}
	
	div.post img {
	border:4px solid #FF0099;
	}
 
	div.modulo_bis img {
	border:4px solid yellow;
	}
	
	div.modulo img {
	border:4px solid #0099FF;
	}
	
	div.post p {
		position: absolute;
		bottom: 35px;
		margin: 0;
		padding: 0;
		font-size: 140%;
		font-weight: normal;
		color: #000;
	}
	
	div.postInfo {
		padding: 0.2em;
		text-align:center;
		font-weight:bold;
		text-transform:uppercase;
	}

/*
 * 
 * MEMBER PAGES
 * 
 */

#page-ego
{
	margin: 0 auto;
	width: 60%;
}

input#member-search-1
{
margin-top:20px;
background-color:#eee;
border:1px solid #ccc;
border-style:solid;
color:#FF0099;
text-align:center;
}

input#member-valid
{
margin-top:20px;
background-color:#yellow;
border:1px solid #CCC;
border-style:solid;
color:#0à0;
font-weight:bold;
text-align:center;
}


.member-item1 {background-color:#FFE0FF;}
.member-item2 {background-color:#E1FFFF;}
.member-item, .member-item1, .member-item2
{
height:50px;
width:150px;
border-radius:8px;
-moz-border-radius:8px;
-webkit-border-radius:8px;
padding:10px;
margin-right:20px;
float:left;
margin-top:20px;
}

.member-item1 img, .member-item2 img {margin-top:6px;}

.member-avatar 
{
	width:50px; 
	height:40px; 
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	text-align:center;
	margin-top:3px;
}
.member-name {float:left;margin-left:60px;margin-top:-35px;background-color:transparent;font-weight:bold;font-size:1.3em;}
.member-name a {color:#000;text-decoration:none;}
h1.members {text-align:center;color:#FF0099;}
h1.members-count {text-align:center;color:#FF0099;}
span.members-counter {text-align:center;color:#FF0099;font-size:2em;}
.member-name a, .member-name a:actived, .member-name a:focus, .member-name a:hover {color:#000;}
