/* BOX - DERNIEREMENT SUR LES PAGES EMISSIONS */

#Panel .emissions-box-name-show {
width:200px!important;
background-color:#DDD; font-weight:bold;text-align:center;text-transform:uppercase;border:1px solid #CCC;font-size:1.2em!important;}
.emissions-box-show {width:10px!important;}
.emissions-box-cover {border:1px solid #000;}
/* DESIGN DU PLAYER SUR LA PAGE EMISSIONS */

#Panel .emissions-box-player
{
background-color: #0099FF !important;
margin-top:-5px;
height:23px!important;
width:200px!important;
border:1px solid #BBB;
}	
#Panel .sm3_link
	{
  background-color:yellow;
  margin-left:35px; 
   -moz-border-radius:0px;
  -webkit-border-radius:0px;
  border-radius:0px;
  color:#000;
  border-bottom:1px solid #CCC !important;
  font-weight:bold;
  font-size:1.5em;  display:inline-block;
  padding-right:5px;
  background-color: #0099FF !important;
  text-transform:uppercase;
}

#Panel .emissions-box-cover
{
	opacity: 0.5;
}

#Panel .emissions-box-cover:hover
{
	opacity: 1!important;
}
/* SEARCHBAR */

#search 
{

float:right;
font-family:"Trebushet MS",Verdana,Geneva,Arial,Helvetica,sans-serif;
font-size: 90%;
margin-left:-230px;
margin-top:48px;
background-color:transparent;}
	 
#search  label
{
color: #AAA;
font-size: 1.3em;
}

input.champs
{
color: #FF0099;
background-color:#feffb9;
border:1px solid #CCC;
border-style:solid;
text-align:center;
width:120px;
}

input.champs, #footer input.valid {background-color: #EEE;}

input.champs:hover
{
color: #FF0099;
background-color:#fff;
text-align:center;
border:1px solid #CCC;
}

input.champs:focus,#footer input.valid:hover 
{
background-image: none ;background-color: #FFF;
}

input.valid 
{
background-color:#FFE0FF;
border:1px solid #CCC;
color:#000;
font-weight:bold;
text-align:center;
text-transform:uppercase;
}


/* ET SURTOUT v5 */
#etsurtout-v5 {background-color:#FFF;height:200px;margin:0 auto;overflow:hidden;}
#etsurtout-v5 H1 {color:#000; font-size:4em;}
#etsurtout-toggle {background-color: yellow;}
#etsurtout-toggle:hover {background-color: magenta;}
.etsurtout-nav {color:#000;font-size:2em;float:left;}
.post-pink, .post-blue, .post
{
width:150px;
height:150px;
float:left;
text-align:center;
margin-left:3px;
margin-right:3px;
padding-top:10px;
margin-top:10px;

}
.post-pink p, .post-blue p {text-align:justify;margin-left:4px; margin-right:4px;}
.post-pink {background-color:#FFE0FF;}
.post-blue {background-color:#E1FFFF;}
.post-pink H2 {color:#000;text-align:center;background-color:#FFE0FF;border-bottom:5px;}
.post-blue H2 {color:#000;text-align:center;background-color:#E1FFFF;border-bottom:5px;}

.post-blue H2 a, .post-pink H2 a {color:#000;}

.read-more {font-weight:bold;background-color:yellow;color:#FFF;text-transform:uppercase;text-align:center!important;margin:0 auto;margin-top:10px;}


*/
/*
 * 
 * bOOKMARK TOPIC
 * 
 */
 
#bookmark-topic a
{
color:#000;
background-color:yellow;
font-size:0.8em;
}

#bookmark-faq a 
{
background-color:#DDD;
color:#000;
font-size:0.8em;
}

/*
 * FAQ
 */
 ul.faq-listing 
 {
 list-style-type:decimal-leading-zero;
 }

 li.faq-listing 
 {
  list-style-type:decimal-leading-zero;
 }

 #faq
{
padding-top:8px;
font-size:1.2em;
color:#000;
font-size:1.3em;
}

.faq-number-pink {color:#aaa;}

h2 a {color:#9b9297;font-weight:bold;}
#faq a {margin-bottom:1px solid #ccc;}
#faq li a {margin-bottom:1px solid #ccc;}
#faq li a:hover {margin-bottom: 1px solid #ccc; font-weight:bold;}  
#faq a:hover {margin-bottom: 1px solid #ccc;}

/*
 * 
 * VIP 
 * STAR
 */


#Discussions ul.Star {
color:#000;
background-color:#FFF;
margin-top:20px;
font-size:1.3em!important;
}

#Discussions li.Star  {
font-weight:bold;
background-color:#FFF;
padding:1px;
padding-top:10px; 
}

#Discussions span.star-pictures {
text-align:right;
float:left;
margin-right:30px;}

.pics-star-1,.pics-star-2 {
width:150px; 
height:100px;
margin-top:10px;
}

.pics-star-1 {
border:2px solid #0099FF; 
}

.pics-star-2
{ border:2px solid #FF0099; }

.people {height:100px;}

#star-news {
background-color:#FFE0FF;
border:1px solid #FF00FF;
width:350px; 
margin-top:10px;
padding:3px!important;
color:#000!important;
padding-left:5px;
}

.star-say-1 
{

background-color:#E1FFFF;
border:1px solid #0099FF;
font-size:1.3em;
}

.star-say-2
{


background-color:#FFE0FF;
border:1px solid #FF0099;
font-size:1.1em;

}

.star-say-1, .star-say-2 {
width:350px;
padding:3px!important;
color:#000!important;
padding-left:5px;
float:right;
margin-top:10px;
margin-bottom:10px!important;
}
#star-info-news {
width:358px;
padding:3px!important;
color:#000!important;
padding-left:5px;
float:right;
text-align:center;
margin-top:-10px!important;
}

#star-info-news H1 {
margin-bottom:10px!important;
background-color:yellow;
border:1px solid #CCC;
margin-top:10px;
}

#star-info-news H1.blink
{
text-decoration:blink;
}

#pics-people

{
height:200px;
width:195px;
border:2px solid #000;
}


/* FAMILY PICS
 ****************/

#family-pics 
{
margin-top:20px!important;
text-align:center;
text-transform:uppercase;
float:left;
color:#FF00FF;
}


#Discussions dl.World, dt.World
{
float:left;
width:600px;
}

#topic-world {
background:#000;width:100px;

}

#Discussions dl.World {color:#000;background-color:#FFF;margin-top:20px;}
#Discussions dl.World dd.events-object {font-weight:bold; font-size:1.5em;background-color:#FFF; padding:1px;padding-top:10px; }
#Discussions dl.World dt.events-legend {font-size:1.2em; background-color:#FFF;margin-bottom:10px; padding:1px;height:30px;}
#Discussions span.events-pictures {text-align:right;float:left;margin-right:30px;}
#Discussions dl.World dd.events-blue {color:#000!important; }

.family {border:3px solid yellow;width:400px;height:300px;}

.up-pics {text-align:right;}
.town {border:2px solid #0099FF; width:75px; width:75px;}

/*
 * DONS & FAQ
 * *********************/


#pourquoijedonnemesorganes
{
padding-top:8px;
font-size:1.2em;
color:#000;
font-size:1.3em;
}

#pourquoijedonnemesorganes a
{
font-weight:bold;
}

#donate input.donate
{
	color:#000!important;
	background-color:yellow!important;
	border:solid 1px #CCC;
	font-size:1.5em!important;
}

#les_donneurs_dorganes ul, #pourquoijedonnemesorganes ul
{
	list-style-image:square ;
}
#les_donneurs_dorganes li, #pourquoijedonnemesorganes li

{
	list-style-type: square;
	color:#000;
}

.donate-1 {
border-left:4px solid #FF0099!important;
}

.donate-2 {
border-left:4px solid #0099FF!important;
}

.WhisperFrom .CommentBody,.WhisperTo .CommentBody  {background-color:#f2f2f2;margin:0 0 8px;padding:8px 16px;border-left: 6px solid #ccc;}

.SigTab {background-color:#FFF;color:000;	border: 1px solid #ccc;}

/* Sidepanel rotator oeil */

#Banner  li.BannerImage {width:200x;height:135px;margin-left:1px;}

/* LEFT PANEL 
 **************************************************************************/

/* SHOP */

#Discussions dl.Shop {color:#000;background-color:#FFF;margin-top:20px;}
#Discussions dl.Shop dd.shop-object {font-weight:bold; font-size:1.5em;background-color:#FFF; padding:1px;padding-top:25px; }
#Discussions dl.Shop dt.shop-legend {font-size:1.2em; background-color:#FFF;margin-bottom:10px; padding:1px;height:30px;}
#Discussions span.shop-pictures {text-align:right;float:left;margin-right:30px;}
#Discussions dl.Shop dd.shop-blue {color:#000!important; }

#Discussions span.shop-buy {margin-left:20px;background-color:#FE67FE;}
#Discussions span.shop-price {margin-left:20px;background-color:yellow;}
#Discussions span.events-flyer {margin-left:2px;background-color:#E1FFFF!important;font-size:1em;}
#Discussions span.events-place {margin-left:2px;background-color:#FFE0FF!important;font-size:1em;}

#Discussions dl.Shop dt.shop-legend a {color:#666666}
#Discussions dl.Shop dt.shop-legend a:hover {color:#000}


/* [RELEASES] - LISTE LABEL */ 

#Panel ul.label-links li {
color:#FF00FF;
background-color:#f2f2f2; 
margin-top:4px;
list-style-type:none; 
border-left:4px solid #FF00FF;
text-transform:uppercase;
font-weight:bold;
font-size:12px;
width:190px;
padding-left:3px;
padding:2px;
}

.nav-left-events-select {background-color:#DDD!important;}
#Panel ul.label-links li .current {color:#000000;background-color:#E1FFFF !important; display:block;width:190px;}
#Panel ul.label-links li:hover {background-color:yellow;}

#Panel .app-player {background-color:#E1FFFF; text-align:center; font-weight:bold; padding:5px;border:1px solid #CCC;	
background: url(http://www.musiques-incongrues.net/forum/themes/vanilla/styles/scene/notice.gif) left center no-repeat #E1FFFF; }

#Panel .app-player-faq {text-align:center;color:#000;  padding:5px;  }

/* [DISCUSSIONS] - LISTE LIENS */

#Panel ul.ailleurs-links li, #Panel ul.mix-links li {

color:#FF00FF;
background-color:#E1FFFF; 
margin-top:4px;
padding:2px; 
padding-left:3px;
list-style-type:none; 
border-left:4px solid #FF00FF;
text-transform:uppercase;
font-weight:bold;
font-size:12px;
width:190px;
}

#Panel ul.ailleurs-links li:hover, #Panel ul.mix-links li:hover {background-color:yellow;}

/* Vanilla-Release */

HR {border: 0;color:#CCC; background-color: #CCC; height: 1px; }

#ContentBody.releases #Discussions li.modulo ul li.DiscussionTopic {background-color:#E1FFFF !important;padding:2px;width:100%; }
#ContentBody.releases #Discussions li ul { 	border-bottom:0px;background-color:#FFF;}

#Discussions li.Release ul li.DiscussionTopic {background-color:#FFE0FF; padding:2px;width:100%;}


/*
#Discussions li.Release ul li.DiscussionTopic:hover {background-color:yellow;}
*/
/*
#Discussions li.Release ul li.DiscussionTopic:hover .release-download a {background-color:#FF00FF;}
*/


#Discussions li.Release {background-color:transparent;}

#Discussions li.Release ul li.DiscussionTopic {background-color:#FFE0FF;width:100%;text-align:left;}

#Discussions li.Release ul li.DiscussionTopic .release-download {display:inline;color:#000;text-align:left;font-size:0.6em;}
#Discussions li.Release ul li.DiscussionTopic .release-download a {background-color:yellow;}
#Discussions li.Release ul li.DiscussionTopic .release-label {display:inline;color:#000;text-align:right;font-size:0.6em;font-weight:bold;height:100%}
#Discussions li.Release ul li.DiscussionTopic .release-label a {background-color:#fe67fe;}

.legend-mix {background-color:#46b5ff;font-weight:bold;color:#000;text-transform:capitalize;}
.legend-label {background-color:#fe67fe;font-weight:bold;color:#000;text-transform:capitalize;}
.legend-download {background-color:yellow;font-weight:bold;color:#000;text-transform:capitalize;}
#legend-colors {float:right;color:#000;text-transform:uppercase;}
.release-count {color: #000;text-transform:uppercase;float:left;}
/*
#Discussions li.modulo ul li.DiscussionTopic {background-color:#E1FFFF !important; }
*/


#ferran a {float:right;margin-top:-35px;color:#000;background-color:yellow;	border: 1px solid #CCCCCC ;	font-size:12px;	padding: 5px;text-transform:uppercase;}
#ferran a:hover {background-color:#FF00FF;}

.navlink {background-color:#FFEAFF;}

.check_release {background-color:yellow !important;border:1px solid #CCC !important;}

/* Vanilla-Events */ 

H2.events {color:#FF00FF; padding-top:1em  !important; text-transform:uppercase;  font-size:1.8em;}  
.title {background-color:#EEE;color:#000;}
strong.city {background-color:#FFF;font-size: 0.7em;color:black;}
strong.city a {background-color:#FFEAFF;}
a.ailleurs {background-color:#FFEAFF;font-size:0.6em;}
#Discussions li.Events ul {background-color:#FFF; padding:1.2em;}
div.PageInfo ol.PageList {font-size:1em;color:black;}
div.PageInfo ol.PageList.debug  {float:right} 
.legend {font-size:1.3em;}
/*
#button-events {color:#000!important;width:100%;}
#button-events label {color:#000!important;padding:5px; background-color:yellow!important;border:1px solid #CCC!important;text-transform:uppercase}
*/

#button-events {float:left;margin-right:10px!important;}

.dp-choose-date {padding:2px!important;background-color:yellow!important; border: 1px solid #CCC;font-weight:bold!important;margin-left:5px;text-transform:uppercase;}
.dp-choose-date:hover {background-color:#FF00FF!important;}
#VanillaEvents_fieldset {float:none;margin-top:40px!important;}

.event-input-date, .event-input-city, .event-input-country,.release-input-url, .release-input-label { 
	background-color:#E1FFFF!important;
	border:1px solid #0099FF!important;
	color:#000!important;
	margin-right:10px!important;
}

.event-input-date:focus, .event-input-city:focus, .event-input-country:focus,.release-input-url:focus, .release-input-label:focus
{background-color:#FFF!important;border:1px solid #CCC!important;} 

/*
* Â© 2006 Jon Contino
* http://www.one26.com/
*
* Scene, Version 1.0
*
* This stylesheet was created for Vanilla by Jon Contino for private use.
* If used publicly, please leave this message intact.
*/

body {
	width: 100%;
	margin:auto;
	padding:0px;
	}
body, div, table, td {
	font-family: 'Arial', sans-serif;
	font-size:10px;
	color:#666;
	background-color: #fff;
	}
a {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	}
a:hover {
	background-color: yellow;
	text-decoration: none;
	}
#pgbottom {
	text-decoration: none !important;
	height: 1px;
	width: 1px;
	font-size: 1px;
	}
	
/* Errors & Success */
.ErrorContainer {
	background: url(alert.gif) no-repeat top left #FFEDEF;
	border-top: 1px solid #FFC2CA;
	padding: 10px 10px 10px 27px !important;
	overflow: hidden;
	}
.ErrorTitle {
	font-weight: bold;
	color: #ff00ff !important;
	}
.Error {
	color: #ff00ff !important;
	}
#Success {
	border-top: 1px solid #9C9;
	border-bottom: 1px solid #9C9;
	background: #E2F9E3;
	color: #060 !important;
	display: block;
	line-height: 200%;
	text-align: center;
	font-size: 13px;
	margin-bottom: 10px !important;
	}

body#dons .Notice, body#SearchPage .Notice
{
	margin-top:10px;

}

.Notice 
{
	background: url(http://www.musiques-incongrues.net/forum/themes/vanilla/styles/scene/notice.gif) left center no-repeat #E1FFFF;
	border: 1px solid #ccc;
	padding: 4px;
	padding-left:25px;
	font-size:12px;
	color:#000;
	margin-top:-5px;
	margin-bottom:15px;
}	
/*
.Notice {
	background: url(notice.gif) left center no-repeat #E1FFFF;
	border: 1px solid #abe9ea;
	font-size:13px;
	padding: 8px 8px 8px 30px;
	margin-bottom: 20px;
	color: #000;
	line-height: 150%;
	}
	
*/
.alaune {
/*
	background:#FFE0FF;
	border:1px solid #FF00FF;
*/
	font-size:12px;
	margin-bottom: 20px;
	color: #000;
}

H2.surtout  {
color:#000;
text-transform:uppercase;
font-size:1.2em;
font-weight:bold;
padding:1px;
padding-left:5px;
width:100%;
background-color:#FFF;
border-left:4px solid #CCC;

}

li.even {background-color:#FFE0FF ;font-weight:bold;margin-top:4px;border-left:4px solid #ff00FF;width:100%;}
li.odd {background-color:#E1FFFF ;font-weight:bold;margin-top:4px;border-left:4px solid #0099FF;width:100%;}

.square {list-style-type:none; margin-left:-20px;}

ul.square li {padding:3px}
ul.square li:hover {background-color:yellow;display:block;}


.Notice a,
.Notice a:link,
.Notice a:visited,
.Notice a:hover {
	color: #FF0099;
	}	
/* Remove System Message Button */
.Notice span {
	float:right;
	display: block;
	font-size: 11px;
	}
.Notice span a,
.Notice span a:link,
.Notice span a:visited,
.Notice span a:hover {
	color: #ff00ff;
	}
.Invisible { display: none; }
	
/* Session.. */

#Session {
	width:100%;
	float:right;
	margin-right:10px;
	text-align:right;
	font-size:11px;
	color:#ccc;
	background-color:transparent;
	}
#Session a {
	color:#222;
	text-decoration:none;
	}
#Session a:hover {
	color:#ff00ff;
	}

/* Header.. */

#Header {
	background: #fefefe;
	padding-bottom:5px;
	border-bottom: 1px solid #ccc;
	}
	
#Header * {
	margin:0px;
	padding:0px;
	}

#Header h1 {
	text-align:center;
	color:#FF00FF;
	font-size: 4em;
	font-weight: bold;
	font-family:'Arial',sans-serif;
	text-transform: uppercase;
	padding:15px;
	}
	
#Header ul {
	text-align:center;
	font-weight:bold;
	}
#Header ul li {
	display:inline;
	margin:0px 1px;
	}

#Header ul li a {
	padding:5px;
	font-size:11px;
	}

#Header ul li.TabOn {
	background-color:#fff;
	color: #ff00ff;
	}

#Header ul li.TabOn a {
	background-color:#fff;
	color:#ff00ff;
	border: 1px solid #ccc;
	border-bottom: 1px solid #fff;
}

#Header ul li.dons .TabOn {
	background-color:yellow!;
	color: #ff00ff;
	}

#Header ul li.dons.TabOn a {
	background-color:yellow;
	color:#ff00ff;
	border: 1px solid #ccc;
	border-bottom: 1px solid #fff;
}

#Header ul li.dons .TabOn a:hover, #Header ul li.dons .TabOn a:hover  {
	color:#000;
	border: 1px solid #ccc;
	border-bottom: 1px solid #fff;
	}
	
	
#Header ul li.Eyes .TabOn {
	background-color:#fff;
	color: #ff00ff;
	}

#Header ul li.Eyes .TabOn a {
	background-color:#fff;
	color:#ff00ff;
	border: 1px solid #ccc;
	border-bottom: 1px solid #fff;
}

#Header ul li.Eyes .TabOn a:hover, #Header ul li.Eyes .TabOn a:hover  {
	background-color:yellow;
	color:#000;
	border: 1px solid #ccc;
	border-bottom: 1px solid #fff;
	}
	
#Header ul li.TabOn a:hover, #Header ul li.TabOn a:hover  {
	background-color:yellow;
	color:#000;
	border: 1px solid #ccc;
	border-bottom: 1px solid #fff;
	}
	
#Header ul {
text-align:center;
font-weight:bold;
	}
 
	
.Pink {
	background-color:#FFE0FF;
	color:#000;
	border: 1px solid #ccc;
	}
	
.Pink a {
	background-color:#FFE0FF;
	color:#000;
	border: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}	

.Pink a:hover {
	background-color:yellow;
	color: #000;
	border: 1px solid #ccc;
	}	


.dons {
	background-color:yellow;
	color: #000;

	}
	
.dons a {
	background-color:yellow;
	color:#000;
	border: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.dons a:hover {
	background-color:#CCC;
	color:#000;
	border: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	}
	
	.Eyes {
	background-color:#E1FFFF;
	color: #ff00ff;

	}
	
.Eyes a {
	background-color:#E1FFFF;
	color:#000;
	border: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.Eyes a:hover {
	background-color:yellow;
	color:#000;
	border: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	}
	
.Faq {
	background-color:#eee; 
	color: #000;

	}
	
.Faq a {
	background-color:#eee; 
	color:#000;
	border: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.Faq a:hover {
	background-color:yellow;
	color:000;
	border-bottom: 1px solid #ccc;
	}

#Header ul li.PosTab {float:left;}

.PosTab  {
	background-color:yellow;
	color: #0000;
	width:170px;

	}

.PosTab a {
	background-color:yellow;
	color:#000;
	border: 1px solid #ccc;
	border-bottom: 1px solid #ccc;


}

.PosTab a:hover {
	background-color:#ff00ff;
	color:#FFF;
	border-bottom: 1px solid #ccc;
	}

/* Panel.. */

#Panel {
	width:201px;
	margin-left:18px;
	float:left;
	display:inline;
	}
#Panel * {
	margin:0px;
	padding:0px;
	list-style:none;
	}
#Panel h1 {
	margin-top:15px;
	margin-bottom: 15px;
	font-size:1em;
		}
	
#Panel h1 a {
	color:#000;
	background-color: yellow;
	border: 1px solid #CCCCCC;
	text-decoration: none;
	padding: 5px;
	font-size:12px;
	text-transform:uppercase;
	text-align:center;
	display:block;	}
	
	
#Panel h1 a em {
	font-style: normal;
	text-decoration: none;
	color:#000;
	}
	
#Panel h1 a:hover {
	color:#000;
	background-color: #FF00FF;
	border: 1px solid #CCCCCC;

	}

#Panel h2:first-letter {color:font-size:16px;}
#Panel h2 {

	color:#000;
	font-size:14px;
	text-transform:uppercase;
	font-weight:bold;
	background-color:#ffc4ff !important;
	margin-top:1em;
	margin-bottom:1em;
	padding-left:5px;
	letter-spacing: 2px;
	border:1px solid #CCC;
	text-align:center;
}

	}

#Panel ul ul, #Panel ul p, #Panel select {
	margin:0px 4px;
	}
#Panel ul, #Panel p {
	color:#335eb7;
	font-size:11px;
	}
#Panel ul ul {
	color:#ff00ff;
	font-size:10px;
	}
#Panel select {
	width:167px;
	margin-top:3px;
	}
#Panel ul ul li {
	width:173px;
	margin-bottom:3px;
	overflow: hidden;
	}
#Panel ul ul li a {
	font-size:11px;
	display:block;
	width:100%;
	color:#222;
	text-decoration:none;
	}
#Panel ul ul li a span {
	color: #ff00ff;
	font-size: 10px;
	padding-left: 4px;
	}
#Panel ul ul li a:hover {
	background-color:#FFFF00;
	}
#AboutVanilla {
	margin: 20px 0px 20px 0px !important;
	border-top:1px solid #ccc;
	background-color:#f9f9f9;
	padding: 3px 0px 3px 0px;
	text-align:center;
	color:#bbb !important;
	width:200px;
	}
#AboutVanilla a {
	color:#d0d0d0 !important;
	text-decoration:none;
	}
#AboutVanilla a:hover {
	color:#aaa !important;
	text-decoration:none;
	}

/* Content.. */

#Content {
	margin:0px 18px 0px 235px;
	}

/* ContentInfo/Control/Whatever - Universal to Discussion Index & Comments */

.ContentInfo {
	text-align:right;
	}
.ContentInfo.Top {
	white-space:nowrap;
	overflow: hidden;
	}
#AccountPage #Content,
#CommentsPage #Content,
#DiscussionsPage #Content,
#CategoryPage #Content,
#ExtensionPage #Content,
#SettingsPage #Content {
	padding-top: 20px;
	}
#DiscussionsPage .Bottom {
	margin: -6px 0px 8px 0px;
	}
.ContentInfo * {
	font-size:14px;
	font-weight:bold;
	margin:0px;
	padding:0px;
	}
.ContentInfo h1 {
color:#000;
text-transform:uppercase;
font-size:1.2em;
font-weight:bold;
padding:3px;
width:100%;
background-color:#FFF;
border-left:4px solid #CCC;
	}
#CommentsPage .ContentInfo h1 {
	float:left;
	width:60%;
	overflow:hidden;
	white-space:nowrap;
	text-align:left;
	}
html>body .ContentInfo h1 { width:80% !important; }
.ContentInfo input {
	font-size:10px;
	margin-left:5px;
	}
#DiscussionsPage .ContentInfo h1 {
	float:none;
	text-align:left;
	}
.ContentInfo h1 a {
	color:#ff00ff;
	text-decoration:none;
	}
.ContentInfo h1 a:hover {
	color:#ff00ff;
	}
.ContentInfo a {
	color:#bbb;
	text-decoration:none;
	}
.ContentInfo a:hover {
	color:#ff00ff;
	}
.PageInfo {
	color:#bbb;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	padding:0px 1px;
	margin:5px 0px;
	line-height:23px;
	font-weight:bold;
	}
#CommentsPage .ContentInfo.Top .PageInfo{
		margin:5px 0px 0px 0px !important;
	}
.PageInfo p {
	margin:0px;
	padding:0px;
	display:inline;
	float: left;
	}
.PageList {
	margin:0px;
	padding:0px;
	list-style:none;
	color: #bbb;
	}
.PageList li {
	display:inline;
	}
.PageList a,
.PageList li a {
	text-decoration:none;
	color:#222 !important;
	}

/* Discussion Index */
  
#PageJump {
	margin: 9px 0px 0px 20px;
	float: right;
}

#Discussions {
	margin-top:-5px !important;
	float: left;
	width: 100%;
	}	
#Discussions, #Discussions * {
	margin:0px;
	padding:0px;
	list-style:none;
	}
#Discussions li ul {
	background-color: #e1ffff;
	border-bottom:1px dotted #ccc;
	}
#Discussions li li {
	height:auto;
	border:0px;
	}
.NoNewComments,
#Discussions li.Read ul {
	background-color:#fff !important;
	}
.NewComments,
#Discussions li.Read.NewComments ul {
	background-color:#ffe0ff !important;
	}
#Discussions li ul {
	padding: 7px 6px 7px 6px;
	color:#777;
	}
/* TEST BG COLOR ALL 
#Discussions ul li:hover {background-color:yellow;}
*/
#Discussions ul span, #Discussions ul span a, #Discussions ul a {
	color:#aaa;
	text-decoration:none;
	}
#Discussions ul span a:hover, #Discussions ul a:hover {
	color:#ff00ff;
	}
#Discussions ul a {
	color:#777;
	}
.Discussion {
	background: yellow;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	width: 100%;
}
.DiscussionType {
	font-size:12px;
	float:left;
	margin-right:5px !important;
	color:#ff00ff;
	font-weight:bold;
	line-height:20px;
	}
.DiscussionType span,
.DiscussionType.Normal {
	display:none;
	}
.DiscussionType * {
	float: left;
	}
.DiscussionTopic, .User.Name {
	font-size:18px;
	line-height:21px;
	overflow: hidden;
	}
.DiscussionTopic span { display:none; color:#000!important;}
.DiscussionTopic a, .User.Name a {
	color:#222 !important;
	text-decoration:none !important;
	font-weight:bold;
	border: none;
	}
.DiscussionTopic a:hover {
	color: #222 !important;
	background-color: yellow;
	text-decoration: none !important;
	}
.DiscussionTopic a:active {
	color: #ff00ff !important;
	background-color: yellow;
	text-decoration: none !important;
	}
.DiscussionCategory, .DiscussionStarted, .DiscussionComments, .DiscussionLastComment, .DiscussionActive, .DiscussionNew {
	width: auto;
	display:inline;
	font-size:1.2em;
	margin-right:10px!important;
	}
.NewComments .DiscussionNew a {
	color:#ff00ff !important;
	}
#Discussions li.Read.NewComments .DiscussionNew {
	display:inline;
	}

/* Category Index */
  
#CategoryPage div.ContentInfo h1 {
	float: left;
	text-align: left;
	width: 100%;
	padding-bottom:6px;
	}
#Categories {
	margin:0px;
	padding:0px;
	list-style:none;
	border-top: 1px solid #ccc;
	margin-bottom: 20px;
	float: left;
	width: 100%;
	}
.BlockedCategory {
	background: #fefefe;
	}
.UnblockedCategory {
	background: #fff;
	}
#Categories li ul {
	border-bottom:1px dotted #ccc;
	padding: 7px 6px 7px 6px;
	list-style: none;
	margin: 0px;
	}
#Categories li li {
	height:auto;
	border:0px;
	}
#Categories ul span, #Categories ul span a, #Categories ul a {
	color:#aaaaaa;
	text-decoration:none;
	}
#Categories ul span a:hover, #Categories ul a:hover {
	color:#ff00ff;
	}
#Categories ul a {
	color:#777;
	}
.Category {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	width: 100%;
	}
.CategoryName {
	font-size:24px;
	margin-right:5px !important;
	color:#222 !important;
	font-weight:bold;
	line-height:20px;
	}
.CategoryName a {
	color: #222 !important;
	text-decoration: none !important;
	}
.CategoryName a:hover {
	text-decoration: none !important;
	}
.CategoryName span,
.CategoryDescription span,
.CategoryName.Normal {
	display:none;
	}
.CategoryDescription {
	font-size:13px;
	line-height:20px;
	overflow: hidden;
	}
.CategoryDiscussionCount, .CategoryOptions {
	width: auto;
	display:inline;
	font-size:10px;
	margin-right:10px!important;
	}

/* Comments.. */

#Comments {
	margin:0px;
	padding:0px;
	list-style:none;
	}
#Comments li {
	margin:0px;
	padding:5px 0px 15px 0px;
	border-bottom:1px dotted #ccc;
	}
#Comments li.Hidden {
	background: url(hidden-tile.gif) top left repeat-x #fafafa;
	}
#Comments .CommentHeader {
	padding-left: 8px;
	padding-right: 8px;
	text-align:right;
	line-height:32px;
	}
#Comments .CommentHeader ul {
	float:left;
	margin:0px;
	padding:0px;
	list-style:none;
	}
#Comments .CommentHeader li {
	margin:0px;
	padding:0px;
	display:inline;
	color:#aaa;
	font-size:11px;
	border-bottom:0px;
	}
#Comments .CommentHeader li div.CommentIcon {
	padding:9px 0px 9px 30px;
	margin-right: 6px;
	background-repeat:no-repeat;
	display: inline;
	background: center center no-repeat;
	}
#Comments .CommentHeader li span {
	display:none;
	}
#Comments .CommentHeader a.WhisperBack {
	margin-left: 10px;
	padding: 3px;
	border: 1px solid #ccc;
	background-color: #fff;
	color: #aaa;
	text-decoration: none;
	font-size: 11px;
	font-weight: normal;
	}
#Comments .CommentHeader a.WhisperBack:hover {
	background-color: yellow;
	color: #333;
	}
#Comments .CommentHeader em {
	color:#bbb;
	font-style:normal;
	}
#Comments li.Hidden .CommentHeader i {
	padding-left: 8px;
	color:#ff00ff;
	font-style:normal;
	}
#Comments .CommentHeader a {
	text-decoration:none;
	font-weight:bold;
	font-size:14px;
	color:#222;
	}
#Comments .CommentHeader span {
	font-size:10px;
	font-weight: normal;
	color:#aaa;
}
#Comments .CommentHeader span a {
	font-size:10px;
	font-weight: normal;
	color:#000;
	margin-left:3px;
	padding: 3px;
	border: 1px solid #ccc;
	cursor: pointer;
	text-decoration: none;
	background-color:#E1FFFF !important;
	}
#Comments .CommentHeader span a:hover {
	text-decoration: none;
	color: #333;
	}
#Comments .CommentNotice {
	padding: 6px;
	font-size:13px;
	text-align: center;
	border-top: 1px solid #D9999A;
	border-bottom: 1px solid #D9999A;
	background: #FEE1E1;
	color: #777 !important;
	margin: 10px 0px 10px 0px;
	}
#Comments .CommentBody {
	display:block;
	margin: 10px 0 0 50px;;
	color:#000;
	font-size: 13px;
	line-height: 150%;
	}
#Comments .CommentBody a:link, .CommentBody a:visited {
	border-bottom: 1px solid #ccc;
	}
#Comments .CommentBody ul li,
#Comments .CommentBody ol li {
	border-bottom:none;
	padding:0px;
	}	
#CommentsPage .ContentInfo.Middle .PageInfo {
	border-top: 0px;
	margin:0px;
	}
#CommentsPage .ContentInfo.Bottom {
	margin-bottom: 20px;
	}
#Comments code {
	border-left: 6px solid #FFFFAA;
	background: #FFFFEE;
	padding: 8px;
	padding-left: 16px;
	display: block;
	white-space: pre;
	}	

/* Search Page */

#Form.Search {
	width: 99% !important;
	padding: 20px 0px 0px 0px !important;
	}
html>body #Form.Search { /* ugly hack, but fixes display error in IE. */
	width: 100% !important;
	}
#Form.Search fieldset legend {
	padding: 0px !important;
	margin-bottom: 6px;
	}
#SearchSimple {
	margin: 0px !important;
	}
#SearchSimple label {
	display: inline !important;
	width: 10px !important;
	}
#MainSearchInput #txtKeywords {
	width: 60% !important;
	margin-left: 0px !important;
	}
#MainSearchInput label {
	display: none !important;
	}
#Form.Search .Submit input {
	margin: 0px !important;
	color: #000 !important;
	}
.Submit {	margin-top:10px!important;}	
.SearchInput,
.SearchSelect,
.SearchSelect option {
	color: #000 !important;
	}
#SimpleSearchRadios input {
	width: auto !important;
	margin: 0px 2px 0px 12px;
	}
#SimpleSearchRadios label {
	font-weight: normal !important;
	}
.SearchSwitch {
	display: block;
	font-size: 12px;
	color: #ff00ff !important;
	}

/* Advanced Search Form */
#SearchDiscussionFields, #SearchCommentFields, #SearchUserFields {
	display: none;
	}
.AdvancedSearchInput {
	width: 60% !important;
	}
.AdvancedUserInput,
#DiscussionAutoCompleteResults,
#CommentAutoCompleteResults {
	width: 160px !important;
	}
#ddRoles, #ddOrder, #ddCommentCategories, #ddDiscussionCategories {
	width: auto !important;
	}
	
/* Search Results */
  
#SearchPage {
	margin-bottom: 20px;
	}
#SearchPage .ContentInfo h1 {
	text-align: left !important;
	}
#SearchPage .Bottom .PageInfo {
	margin-top: 0px !important;
	border-top: 0px !important;
	}

/* Comment Search Results */
  
#CommentResults {
	margin-top:-5px !important;
	}
#CommentResults, #CommentResults * {
	margin:0px;
	padding:0px;
	list-style:none;
	}
#CommentResults li li {
	height:auto;
	border:0px;
	}
#CommentResults li ul {
	padding: 6px 6px 7px 6px;
	color:#777;
	border-bottom:1px dotted #ccc;
	}
#CommentResults ul span, #CommentResults ul span a, #CommentResults ul a {
	color:#aaa;
	text-decoration:none;
	}
#CommentResults ul span a:hover, #CommentResults ul a:hover {
	color:#ff00ff;
	}
#CommentResults ul a {
	color:#777;
	}	
#CommentResults .CommentResult ul {
	background-color:#fff !important;
	}
#CommentResults .CommentText span {
	display: none;
	}
#CommentResults .CommentText span.Highlight {
	display:inline;
	color:#ff00ff;
	background: yellow;
	}
#CommentResults .CommentText {
	margin:6px 0px 4px 0px !important;
	}
#CommentResults .CommentText a {
	color:#000 !important;
	}
#CommentResults .CommentText a:hover {
	background-color:yellow;
	}
.CommentAuthor, .CommentAdded {
	width: auto;
	display:inline;
	font-size:10px;
	margin-right:10px!important;
	}
/*
  This is an IE kludge.
  For some reason IE was adding about 20px of padding to the top of this element
  and the only way to get rid of it was to add a 1px border to the top.
*/
#CommentResults .SearchComment {
	border-top: none;
	}
#CommentResults .SearchComment ul {
	margin: 0px !important;
	}

/* User Search Results */
  
#UserResults {
	margin-top:-5px !important;
	}
#UserResults, #UserResults * {
	margin:0px;
	padding:0px;
	list-style:none;
	}
/*
  This is an IE kludge.
  For some reason IE was adding about 20px of padding to the top of this element
  and the only way to get rid of it was to add a 1px border to the top.
*/
#UserResults li {
	border-top: 1px solid #fff;
	}
#UserResults li ul {
	margin-top: 0px !important;
	border-bottom:1px solid #ccc;
	}
#UserResults li li {
	height:auto;
	border:0px;
	}
#UserResults li ul {
	padding: 6px 6px 7px 6px;
	color:#777;
	}
li.User {
	display:inline;
	font-size:10px;
	margin-right:10px !important;
	}
li.User span {
	color: #aaa;
	}
li.User.Name {
	display:block;
	font-size: 11px;
	}
li.User.Name .UserIcon {
	padding:9px 0px 9px 30px !important;
	margin-right: 6px !important;
	background-repeat:no-repeat !important;
	display: inline !important;
	background: center center no-repeat;	
	}
li.User.Name a {
	font-size: 14px;
	}
li.User.Name.WithIcon {
	line-height:32px;
	}
li.User.Name a:hover {
	text-decoration: none !important;
	}
li.User.Name span {
	display:none;
	}

/* Forms.. */

#Form * {
	margin:0px;
	padding:0px;
	list-style:none;
	}
#Form {
	margin-bottom: 10px;
	}
#Form fieldset {
	border:0px;
	clear:none;
	margin-bottom: 20px;
	}
#Form fieldset legend {
	padding: 4px 0px 4px 0px;
	margin: 0px;
	font-size:14px;
	font-weight:bold;
	color:#000;
	}
#Form form {
	margin: 0px;
	padding:10px 10px 0px 10px;
	border:1px solid #ccc;
	border-left:0px;
	border-right:0px;
	background-color:#fefefe;
	}
#Form li {
	margin-bottom:10px;
	color:#777;
	font-weight:bold;
	}
#Form label a {
	margin-bottom:-3px;
	margin-right:15px;
	float:right;
	padding:3px 6px;
	color:#777;
	text-decoration:none;
	font-weight:bold !important;
	text-transform:uppercase;
	background-color:#FFE0FF;
	border:1px solid #FF00FF;
	}
#WhisperUsername,
#WhisperAutoCompleteResults {
	width: 200px;
	background-color:#FFE0FF;
	border:1px solid #FF00FF;
	}

#WhisperUsername:focus,
#WhisperAutoCompleteResults:focus
{background-color:#FFF!important;border:1px solid #CCC;} 

#smilies-select, #ddCategories
{
	background-color:#E1FFFF;
	border:1px solid #0099FF;
}
#Form textarea,
#Form input,
#Form select {
	font-family: Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight: normal;
	}	
#Form textarea {
	width:99.5%;
	height:150px;
	}
#Form textarea.SmallCommentBox {
	height: 150px;
	background-color:#FFE0FF;
	border:1px solid #FF00FF;
	}
#Form textarea.LargeCommentBox {
	height: 400px;
	background-color:#FFE0FF;
	border:1px solid #FF00FF;
	}
	
#Form textarea.LargeCommentBox:focus,#Form textarea.SmallCommentBox:focus 
{background-color:#FFF!important;border:1px solid #CCC;} 


#Form .Button {
	cursor: pointer;
	color: #000 !important;
	}
#Form .Button.SubmitButton {
	margin-right:20px;
	margin-bottom:10px;
	background-color:yellow !important; 
	border:1px solid #CCC;
	font-weight:bold!important;
	font-size:1.5em;
	text-transform:uppercase;
	padding:2px!important;

	}
#Form .Button.SubmitButton:hover, .PreviewButton:hover, .CancelButton:hover {background-color:#FF00FF!important;}

#Form .Button.SubmitButton:focus
{background-color:#FFF!important;border:1px solid #CCC;} 

.CancelButton {
	margin-right:20px;
	margin-bottom:10px;
	background-color:#DDD !important; 
	border:1px solid #CCC;
	font-weight:bold!important;
	font-size:1.5em;
	text-transform:uppercase;
	padding:2px!important;
}
/* Add Comment & Start Discussion Forms */

#Form.StartDiscussion legend {
	padding-top: 0px;
	}
#PostPage #Form.AddComments legend {
	padding-top: 0px;
	}
.AddComments {
	width: 99%;
	}
#Form.AddComments {
	width: 100%;
	}	
#Form.AddComments fieldset {
	margin: 0px;
	}
#Form.AddComments form {
	margin-top: 0px !important;
	}
#Form.StartDiscussion label, 
#Form.AddComments label {
	display:block;
	width:100%;
	color:#777;
	font-weight:bold;
	}
#Form.StartDiscussion label.Radio,
#Form.AddComments label.Radio {
	display:inline !important;
	width:auto !important;
	}
#Form.AddComments {
	margin: 0px 0px 4px 0px;
	padding: 4px 0px 0px 0px;
	}
#PostPage #Form.AddComments {
	padding: 0px;
	}
.DiscussionBox {
	width: 400px;
	background-color:#FFE0FF;
	border:1px solid #FF00FF;
	}	
.DiscussionBox:focus

{
background-color:#FFF!important;
border:1px solid #CCC!important;}
#Form .Button {
	width: auto !important;
	}
#Form.AddComments a,
#Form.StartDiscussion a {
	font-weight: normal;
	}
#CommentFormats input {
	margin: 0px 2px 0px 12px;
	}
#Form.StartDiscussion #CommentFormats label,
#Form.AddComments #CommentFormats label {
	font-weight: normal;
	}
/* Pad fatal errors on post page */
#PostPage #Content {
	padding-top: 20px !important;
	}

/* Account Section Forms.. */

.Account {
	width:450px;
	margin: 0px !important;
	}
#Form.Account * {
	color:#777;
	}
#Form.Account legend {
	color:#000;
	}
#Form.Account h2 {
	font-size:14px;
	margin-bottom:10px;
	}
#Form.Account p {
	padding-bottom: 10px;
	}
#Form.Account ul p {
	padding: 0px;
	}
#Form.Account label {
	display:block;
	width:80%;
	line-height:18px;
	margin-bottom: 4px;
	}
#Form.GlobalsForm label {
	float: left;
	}
#Form.Extensions label {
	width: 100%;
	}
#Form.Account .Description span label,
#Form.Account label small {
	font-weight:normal;
	}
#Form.Account input,
#Form.Account select {
	color:#000;
	width:40%;
	}
#Form.GlobalsForm input,
#Form.GlobalsForm select {
	width: 59%;
	}
.Description {
	margin:3px 0px !important;
	padding: 3px 0px 5px 0px !important;
	font-weight:normal;
	}
#Form.Account p span {
	display:block;
	margin-top:5px;
	}
#Form.Account p span label {
	float:none;	
	display:inline;
	margin-left:5px;
	font-weight:bold;
	line-height:20px;
	width:90%;
	}
#Form.Account p span input {
	width:12px;
	}
#Form.Preferences p span label {
	font-weight: normal;
	}
	
/* Globals Form */
  
#Form.GlobalsForm select.SmallSelect {
	font-size: 11px;
	width: 50px;
	}
#Form.GlobalsForm #ForumOptions p span label {
	font-weight: normal !important;
	}
#Form.GlobalsForm #ForumOptions {
	margin-bottom: 20px;
	}
#Form.GlobalsForm p {
	margin-bottom: 10px;
	}
	
/* Update Check form */
  
#Form.UpdateCheck p.Description {
	padding: 0px !important;
	margin: 0px 0px 10px 0px !important;
	}  
  
/* RoleEdit Form */
  
#Form.RoleEditForm li p span label {
	font-weight: normal !important;
	}

/* Category List */
#Form.CategoryList .RoleBlocked {
	background: url(disabled-tile.gif) #F4F4C2;
	}
	
/* Category Form */
#Form.CategoryForm li p span label {
	font-weight: normal !important;
	}
  
  

/* Custom form for extensions management screen */

#Form.Extensions {
	margin: 0px 0px 20px 0px !important;
	}
div.Extensions ul {
	border:1px solid #ddd;
	border-bottom:0px;
	margin: 10px 0px 20px 0px !important;
	}
div.Extensi

/* Profile Page.. */

#AccountProfile #Success,
#AccountProfile .ErrorContainer {
	margin-right: 18px;
	}
#AccountProfile .ErrorContainer {
	margin-bottom: 10px;
	border-bottom: 1px solid #FFC2CA;
	}
#AccountProfile {
	float:left;
	width:300px;
	border-right:1px solid #ccc;
	}
#AccountProfile * {
	margin:0px;
	padding:0px;
	list-style:none;
	}
#AccountProfile li {
	clear:both;
	margin-right:20px;
	line-height:18px;
	}
#AccountProfile h3 {
	font-size:12px;
	width:44%;
	float:left;
	}
#AccountProfile p {
	float:left;
	width:55%;
	}
#AccountProfile h2 {
	font-size:14px;
	color:#000;
	width:60%;
	float:left;
	}
#AccountProfile .ProfileTitle * {
	line-height:32px;
	}
#AccountProfile .Tagline {
	padding: 6px;
	text-align: center;
	border-top: 1px solid #D9999A;
	border-bottom: 1px solid #D9999A;
	background: #FEE1E1;
	color: #850406 !important;
	margin: 0px 20px 10px 0px;
	}
.ProfileTitleIcon {
	background-repeat:no-repeat;
	}
.ProfileTitle h2 {
	width:48% !important;
	}
.ProfileTitle.WithIcon h2 {
	padding-left:4px !important;
	width: auto;
	}
.ProfileTitle.WithIcon .ProfileIcon {
	padding:9px 0px 9px 30px;
	background: #fff no-repeat center center;
	margin-right: 6px;
	display: inline;
	float: left;
	width: 50px!important;
	height:50px;
	}	
#AccountProfile .ProfileTitle p {
	width:auto;
	float: right;
	text-align:right;
	font-size:11px;
	color:#aaa;
	}
#AccountProfile .ProfileTitle {
	line-height:20px;
	margin-bottom:10px;
	}
#AccountProfile .Picture {
	width: 280px;
	height: 200px;
	overflow: hidden;
	background: center center no-repeat;
	margin-bottom: 6px;
	}
#AccountHistory {
	margin-left:320px;
	}
html>body #AccountHistory { /* ugly hack, but fixes display error in IE. */
	margin-left:300px !important;
	}
#AccountHistory * {
	margin:0px;
	padding:0px;
	list-style:none;
	color:#999;
	}
#AccountHistory ul, #AccountHistory h2 {
	margin:0px 20px;
	}
#AccountHistory ul {
	margin-bottom:20px;
	}
#AccountHistory h2 {
	font-size:14px;
	color:#000;
	}
#AccountHistory ul {
	border-top:1px solid #ccc;
	}
#AccountHistory li {
	padding:5px;
	border-bottom:1px solid #ccc;
	}
#AccountHistory h3,
#AccountHistory h3 a {
	color:#666;
	font-size:12px;
	}
#AccountHistory h3 small {
	font-size:11px;
	}
#AccountHistory p {
	font-size:11px;
	}
#AccountHistory p.Note {
	padding:3px;
	padding-bottom:0px;
	font-style:italic;
	}

/* DESIGN PLAYER SUR PAGE RELEASE */
.release-download a.sm2_playing {
  background-color: #0099ff !important;
  background:none;
}

.release-download a.sm2_link {
  background-color: #0099FF !important;
    background:none;

}
.release-download a.sm2_loading {
  background-color: #fff !important;
    background:none !imop;


}
.release-download a.sm2_paused {
  background-color: #fff!important;

}

/* DESIGN PLAYER SUR FORUM */

a:hover.sm3_playing, a:hover.sm3_link, a:hover.sm3_paused 

{
background-color:yellow !important;
}

a.sm3_playing, a.sm3_link, a.sm3_paused 

{
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  color:#000;
  border-bottom:1px solid #FFF !important;
  font-weight:bold;
  text-indent:25px;
  display:inline-block;
  padding-right:5px;
  background-color: #0099FF !important;


}
 a.sm3_playing {
   background:yellow url(http://www.musiques-incongrues.net/forum/themes/vanilla/styles/scene/pause.png) no-repeat  2px 2px !important  ;
}

 a.sm3_link {
  background: url(http://www.musiques-incongrues.net/forum/themes/vanilla/styles/scene/play.png) no-repeat  2px 2px;
}

a.sm3_paused {
  background: url(http://www.musiques-incongrues.net/forum/themes/vanilla/styles/scene/play.png) no-repeat  2spx 2px !important ;
}
